* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
  font-family: Arial, sans-serif;
}

input, textarea {
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

button {
  padding: 5px;
  border-radius: 10px;
  background: lightgray;
  border: 2px solid black;
  transition-duration: 500ms;
  cursor: pointer;
}

button:hover {
  background: lightgreen;
}

button.edit:hover {
  background-color: lightblue;
}

button.delete:hover {
  background-color: lightcoral;
}

.watched {
  color: green;
  cursor: pointer;
  transition: color 0.3s;
}

.watched:hover {
  color: darkgreen;
}
